--- drivers/video/tegra/Kconfig
+++ drivers/video/tegra/Kconfig
@@ -154,5 +155,13 @@
         help
           Say Y here to enable Touchwiz UX support.
 
+config TEGRA_NVHDCP
+        bool "Support NVHDCP content protection on HDMI"
+	depends on ICS
+        default n
+        help
+          Say Y here to support NVHDCP upstream and downstream protocols, this
+          requires a correctly fused chip to negotiate keys.
+
 endif
 
